1.year/2.semestr/PRI/2_hodina/student.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- definition of simple elements -->
<xs:element name="jmeno" type="xs:string"/>
<xs:element name="prijmeni" type="xs:string"/>
<xs:element name="studentskeCislo" type="xs:string"/>

<xs:attribute name="jmeno" type="xs:string"/>
<xs:attribute name="autor_článku" type="xs:string"/>